services:
  client_dev:
    build:
      context: ./apps/frostbyte/client
      target: builder
    container_name: frostbyte_client_dev
    working_dir: /app
    command: npm run dev -- --host 0.0.0.0
    volumes:
      - ./apps/frostbyte/client:/app
      - client_node_modules:/app/node_modules
    networks:
      - frostbyte_network

  labelmaker_client_dev:
    build:
      context: ./apps/labelmaker/client
      target: builder
    container_name: labelmaker_client_dev
    working_dir: /app
    command: npm run dev -- --host 0.0.0.0
    volumes:
      - ./apps/labelmaker/client:/app
      - labelmaker_client_node_modules:/app/node_modules
    networks:
      - frostbyte_network

  caddy:
    volumes:
      - ./common/gateway/Caddyfile.dev:/etc/caddy/Caddyfile:ro
    depends_on:
      postgrest:
        condition: service_started
      printer_service:
        condition: service_started
      client_dev:
        condition: service_started
      labelmaker_client_dev:
        condition: service_started
